#MainMenu {visibility: hidden;}
footer {visibility: hidden;}


.st-emotion-cache-giotri, .e1nzilvr2 {
    display: none;
}

.st-emotion-cache-b5hcvb.e1vs0wn31 {
    display: none;
}

.organik{
    text-align: justify;
}

.contoh{
    width: 250px;
}

.mengelola{
    width: 300px;
}


.banner {
    height: 60vh;
}

.banner-content {
    display: flex; /* Mengaktifkan Flexbox */
    justify-content: center; /* Teks di tengah secara horizontal */
    align-items: center; /* Teks di tengah secara vertikal */
    height: 100%; /* Pastikan tinggi elemen mencakup container */
    min-height: 300px; /* Atur minimal tinggi agar terlihat jelas */
}

.sampah-organik {
    text-align: center; /* Teks rata tengah */
}

.sampah-organik h1{
    color: #77BF4A;
    font-size: 50px;
}

.p-organik{
    text-align: justify;
}